body{
    background-image: url("./interactive-card-details-form-main/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: 40%;
}
.outfit{
    display: flex;
    align-items: center;
    width: 1000px;
}
.leftside{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: left;
    margin-right: 200px;
    width: 500px;
}
.front{
    width: 90%;
    height: auto;
    margin-left: 30%;
}
.back{
    width: 90%;
    margin-left: 45%;
    height: auto;
}
.rightside{
    width: 500px;
}
.matterinright{
    margin-left: 30px;
    display: block;
}
.matterinright label{
    color: hsl(278, 68%, 11%);
    font-size: 16px;
    letter-spacing: 1px;
}
.field{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid hsl(278, 68%, 11%);
    padding: 10px;
    cursor: pointer;
}
.flexingone{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.fieldm{
    width: 85px;
    border-radius: 5px;
    border: 2px solid hsl(278, 68%, 11%);
    padding: 10px;
    cursor: pointer;
}
.fieldc{
    width: 100%;
    border-radius: 5px;
    border: 2px solid hsl(278, 68%, 11%);
    padding: 10px;
    cursor: pointer;
}
.hider{
    text-align: center;
    width: 100%;
    margin-left: 30%;
    display: none;
}
.sucbut{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
   
}
.butfun{
    width: 100%;
    text-align: center;
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.error{
    color: red;
    margin-top:0;
    display: none;

}